.about{
    color:#53C2BC;
    height:200px;
    
}

.det{
    color:black;
    text-align: justify; 
    
}

.addr{
        height: 500px;
        width: 500px;
        display: block;
        margin: 0 auto;
        height: auto;
        width: 0%; 
        margin: 0 0 0 40%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
}




/*.nav-menu {

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    text-align: center;
    justify-content: end;
    width: 80vw;
    list-style: none;
  
  
  }

.about-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    justify-content: end;
    display: grid;
    grid-gap: 10px;
    width: 10vw;
    font-size: 24px;
    font-weight: 400;
  }*/
  